<div class="main">
  <h3>Bienvenido {{userType === 'student' ? 'estudiante' : 'profesor'}}</h3>
  <p>Aquí puedes seleccionar las materias que vas a {{userType === 'student' ? 'estudiar' : 'impartir'}}</p>
  <mat-card appearance="outlined">
    <mat-card-content>
      <form [formGroup]="subjectForm">
        <mat-selection-list #subjects [formControl]="subjectControl" name="Subject"
          (selectionChange)="onSelectionListChange($event)">
          @for (subject of SubjectList; track subject) {
          <mat-list-option [value]="subject.id?.toString()">
            <div class="content-list">
              <div class="title-list">
                <span>{{subject.name}}</span>
                <span>
                  {{(subject.teacher?.length ?? 1) > 1 ? 'Profesores:' : 'Profesor:'}}
                  @for (profesor of subject.teacher; track profesor) {
                  {{profesor.fullName}}
                  }
                </span>
              </div>
              <span class="example-spacer"></span>
              <span>Creditos: x{{subject.credits}}</span>
            </div>
          </mat-list-option>
          }
        </mat-selection-list>
      </form>
    </mat-card-content>
    @if(isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @else {
    <mat-divider></mat-divider>
    }

    <mat-card-actions>
      <button mat-fab extended [disabled]="isLoading 
          || this.subjectForm.get('subjects')?.value?.length == 0 
          || this.subjectForm.get('subjects')?.value?.length === null
          || !subjectForm.dirty" (click)="saveSubjects()">
        <mat-icon>save</mat-icon>
        Guardar Selección
      </button>
    </mat-card-actions>
  </mat-card>
</div>
