<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Bienvenido Profesor</mat-card-title>
  </mat-card-header>
  <form [formGroup]="registerForm" (submit)="onSubmit($event)">
    <mat-card-content>
      <p>Registra aqui tus datos para poder acceder a tus asignaciones</p>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre Completo</mat-label>
        <input matInput formControlName="FullName" placeholder="Placeholder">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="Email" placeholder="Placeholder">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="PasswordHash" placeholder="Placeholder">
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button [disabled]="!registerForm.valid || (loading$ | async)" mat-stroked-button
        type="submit">Registrarme</button>
      <p>Si ya tienes una cuenta, inicia sesión</p>
      <a mat-button type="button" [disabled]="(loading$ | async)" routerLink="/login-teacher">Iniciar sesión</a>
    </mat-card-actions>
  </form>
  @if(loading$ | async) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
</mat-card>
